/Scripts/ReadingEase/__pycache__
/Scripts/ReadingEase/env
/Scripts/ReadingEase/config.py
/Scripts/ReadingEase/test-output.txt
/Scripts/ReadingEase/naslave-texts
/Scripts/ReadingEase/test.py
/Scripts/ReadingEase/data.xlsx