/Scripts/ReadingEase/__pycache__
/Scripts/ReadingEase/env
/Scripts/ReadingEase/script/config.py
/Scripts/ReadingEase/script/test.py
/Scripts/ReadingEase/script/data.xlsx
/Scripts/ReadingEase/script/__pycache__